@font-face {
  font-family: "Amalia";
  src: url(assets/amaliapro-bold-webfont.woff2) format("woff2");
}

@font-face {
  font-family: "Work sans regular";
  src: url(assets/WorkSans-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Work sans bold";
  src: url(assets/WorkSans-Medium.woff2) format("woff2");
}

:root {
  --light-blue: #00b9ea;
  --dark-blue: #032846;
  --interactive-bg: #d5edfa;
  --second-bg: #a2daf4;
  --red: #e51147;
}

html {
  max-width: 1240px;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  color: var(--dark-blue);
  margin: 20px;
}

h1 {
  font-family: "Amalia", Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
}

h2 {
  font-family: "Amalia", Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
}

h3 {
  font-family: "Amalia", Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: var(--dark-blue);
}

p {
  font-family: "Work sans regular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

a,
li {
  font-family: "Work sans bold", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--light-blue);
}

.hidden {
  display: none;
}

/* NAV */

nav a {
  color: var(--dark-blue);
  text-transform: uppercase;
  text-decoration: none;
}

nav p {
  font-family: "Work sans bold", Verdana, Geneva, Tahoma, sans-serif;
}

nav#user_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav#user_nav a {
  margin: 0 10px;
}

nav#user_nav a:first-child {
  border-bottom: 2px solid var(--light-blue);
}

nav#nav_login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav#nav_login a {
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 20px;
}

nav#nav_login a:first-child {
  border: solid 2px var(--red);
}

nav#nav_login a:nth-child(2) {
  background-color: var(--light-blue);
  color: white;
}

nav#nav_login a:nth-child(2) svg {
  width: 25px;
  height: 25px;
  fill: white;
}
nav#nav_login a:nth-child(2) p {
  display: inline;
  vertical-align: 30%;
}

nav#nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

nav#nav_menu a:first-child {
  position: relative;
}

nav#nav_menu a:first-child img {
  position: absolute;
  bottom: 5px;
}

nav#nav_menu #inner_nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

nav#nav_menu a:last-child img {
  width: 20px;
  height: 20px;
}

nav#nav_menu a:last-child p {
  display: inline;
  vertical-align: 30%;
}

/* HERO */

#hero {
  background-image: url(assets/pexels-photo-1549280.jpeg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

#hero_textbox {
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  padding: 20px;
  width: 70%;
  margin: -100px auto;
}

#hero_textbox h1 {
  margin: 0;
}

#hero_textbox p:first-child {
  margin-bottom: 0;
}

.divider {
  border-bottom: 2px solid var(--light-blue);
  width: 70px;
  margin: 10px auto 20px;
}

/* POPUP */
#popup {
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  position: relative;
  padding: 20px;
  width: 70%;
  margin: -300px auto;
}

#close svg {
  fill: white;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
}

#popup h1 {
  margin: 0;
}

#popup p:first-child {
  margin-bottom: 0;
}

/* INTERACTIVE */

#interactive {
  background-color: var(--interactive-bg);
  width: 100%;
  height: 500px;
  margin-top: 150px;
}

/* LEARN MORE */

#learn_more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

#learn_more img {
  width: 70px;
  height: 70px;
  margin-top: 20px;
}

#did_you_know {
  background-color: var(--second-bg);
  padding: 20px;
  width: 60%;
  text-align: center;
}

#did_you_know h2 {
  margin: 10px;
}

#download {
  width: 30%;
  background-color: var(--dark-blue);
  padding: 20px;
  text-align: center;
}

#download li {
  list-style: none;
  margin-bottom: 10px;
  margin-left: -20px;
  font-size: 12px;
  text-align: left;
}

/* VIDEO */

#campaign_video {
  background-color: #e51147;
  width: 100%;
  height: 500px;
  margin: 40px 0;
}

/* MORE ARTICLES */

#title {
  text-align: center;
  display: flex;
}

.line {
  border-bottom: 2px solid var(--light-blue);
  width: 25%;
  margin: 10px auto 55px;
}

#articles {
  display: flex;
  justify-content: space-between;
}

#articles p,
#articles h3 {
  color: white;
  margin: 0 20px;
}

#one,
#two,
#three {
  width: 32%;
  height: 300px;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#one {
  background-image: url("assets/andels1\ \(1\).jpg");
}
#two {
  background-image: url("assets/closeup-sidespejl.jpg");
}
#three {
  background-image: url("assets/computer-pa-daybed.jpg");
}

/* FOOTER */
footer {
  background-color: var(--dark-blue);
  width: 100vw;
  margin: 40px 0 0;
  position: absolute;
  left: 0;
  color: white;
}

footer p,
footer img {
  cursor: pointer;
}

#footer_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px;
}

#footer_first p,
#footer_second p {
  text-transform: uppercase;
}

#footer_first div {
  display: flex;
  flex-direction: row;
}

#footer_first div p {
  margin: 2px 0 0 10px;
}

footer img {
  width: 25px;
  height: 25px;
}

#footer_second img {
  width: 100%;
  height: 300px;
}

#footer_info ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
}

#footer_info li:first-child {
  list-style: none;
}

#footer_info li {
  color: white;
  font-size: 12px;
  margin-right: 20px;
}

#footer_divider {
  border-bottom: white 2px solid;
  margin: 0 0 20px;
}

#some {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 100px;
}

#some a img {
  width: 40px;
  height: 40px;
}
