@font-face {
  font-family: "Amalia";
  src: url(assets/amaliapro-bold-webfont.woff2) format("woff2");
}

@font-face {
  font-family: "Work sans regular";
  src: url(assets/WorkSans-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Work sans bold";
  src: url(assets/WorkSans-Medium.woff2) format("woff2");
}

:root {
  --light-blue: #00b9ea;
  --dark-blue: #032846;
  --interactive-bg: #d5edfa;
  --second-bg: #a2daf4;
  --red: #e51147;
}

html {
  max-width: 1240px;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  color: var(--dark-blue);
  margin: 20px;
}

h1 {
  font-family: "Amalia", Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
}

h2 {
  font-family: "Amalia", Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
}

h3 {
  font-family: "Amalia", Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: var(--dark-blue);
}

p {
  font-family: "Work sans regular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

a,
li {
  font-family: "Work sans bold", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--light-blue);
}

button {
  background-color: var(--dark-blue);
  width: 200px;
  margin: 40px auto;
  border-radius: 40px;
  border: 4px var(--second-bg) solid;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button img {
  width: 15px;
  height: 15px;
  margin: auto 15px;
  display: none;
}

button:hover > img {
  display: block !important;
}

/* NAV */

nav a {
  color: var(--dark-blue);
  text-transform: uppercase;
  text-decoration: none;
}

nav p {
  font-family: "Work sans bold", Verdana, Geneva, Tahoma, sans-serif;
}

nav#user_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav#user_nav a {
  margin: 0 10px;
}

nav#user_nav a:first-child {
  border-bottom: 2px solid var(--light-blue);
}

nav#nav_login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav#nav_login a {
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 20px;
}

nav#nav_login a:first-child {
  border: solid 2px var(--red);
}

nav#nav_login a:nth-child(2) {
  background-color: var(--light-blue);
  color: white;
}

nav#nav_login a:nth-child(2) svg {
  width: 25px;
  height: 25px;
  fill: white;
}
nav#nav_login a:nth-child(2) p {
  display: inline;
  vertical-align: 30%;
}

nav#nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

nav#nav_menu a:first-child {
  position: relative;
}

nav#nav_menu a:first-child img {
  position: absolute;
  bottom: 5px;
}

nav#nav_menu #inner_nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

nav#nav_menu a:last-child img {
  width: 20px;
  height: 20px;
}

nav#nav_menu a:last-child p {
  display: inline;
  vertical-align: 30%;
}

/* HERO */

#hero {
  background-image: url(assets/pexels-photo-1549280.jpeg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

#hero_textbox {
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  padding: 20px;
  width: 70%;
  margin: -100px auto;
}

#hero_textbox h1 {
  margin: 0;
}

#hero_textbox p:first-child {
  margin-bottom: 0;
}

.divider {
  border-bottom: 2px solid var(--light-blue);
  width: 70px;
  margin: 10px auto 20px;
}

/* POPUP */
#popup {
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  position: relative;
  padding: 20px;
  width: 70%;
  margin: -300px auto -78px;
}

#close svg {
  fill: white;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#popup h1 {
  margin: 0;
}

#popup p:first-child {
  margin-bottom: 0;
}

/* INTERACTIVE */

#interactive {
  background-color: var(--interactive-bg);
  width: 100%;
  margin-top: 150px;
  padding: 20px 0;
}

#interactive h2,
#interactive h3,
#interactive .subheading {
  text-align: center;
}

.subheading {
  width: 70%;
  margin: 20px auto;
}

/* SCREEN ONE */

#screen_one {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#insurance_icon {
  width: 100px;
  height: 100px;
  margin: 50px auto 0px;
}

#screen_one li {
  display: inline;
  color: var(--dark-blue);
  width: 300px;
}
#screen_one li img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

#screen_one ul {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

#screen_one ul:first-child {
  margin-top: 40px;
}

#read_more_icon,
#read_less_icon {
  flex-direction: row;
  display: flex;
  width: 250px;
  margin: 0 auto;
  cursor: pointer;
}

.arrow img {
  width: 40px;
  height: 40px;
}

#read_more_icon .line,
#read_less_icon .line {
  width: 100px;
  margin: 15px 10px 25px;
  border-bottom: 2px solid var(--dark-blue);
}

#screen_one .subheading {
  margin-top: -10px;
}

.heading {
  font-size: 25px;
  text-align: left;
  margin: 60px 60px 20px;
}

#insurance_covers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 60px 60px;
}

#insurance_covers div {
  display: flex;
  flex-direction: column;
  width: 45%;
}

/* SCREEN TWO */

.choice {
  background-color: white;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.main_info img {
  width: 100px;
  height: 100px;
  margin: auto;
}

.main_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  width: 80%;
  margin-left: 20px;
}

.description .heading {
  margin: 0;
}

.container {
  display: block;
  position: relative;
  margin: 5% 60px;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 2px solid var(--light-blue);
}

.container input:checked ~ .checkmark {
  background-color: var(--light-blue);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 10px;
  top: -2px;
  width: 15px;
  height: 30px;
  border: solid white;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
}

.choose_read_more {
  cursor: pointer;
}

.extra_info {
  width: 82%;
  margin: 0 auto;
}

.extra_info li {
  color: var(--dark-blue);
  list-style: url("/assets/Icon\ ionic-ios-checkmark.svg");
  margin-bottom: 20px;
}

#accident .extra_info li:last-child {
  margin: -20px;
  padding: 20px 0 20px 20px;
  list-style: none;
  background-image: url("assets/signs.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 15px;
}

/* SCREEN THREE */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

label,
input {
  display: block;
  font-family: "Work sans regular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

input {
  background-color: var(--interactive-bg);
  border: none;
  border-bottom: 2px solid var(--dark-blue);
  margin-bottom: 40px;
  height: 40px;
}

#cpr_personal {
  width: 100px;
}

#cpr_birthday {
  width: 150px;
  margin: 0;
}

form div p {
  font-size: 40px;
  margin: 0 10px;
}

form div {
  display: flex;
  flex-direction: row;
}

.question {
  width: 20px;
  height: 20px;
  margin: 10px 20px;
}

.question:hover + .answer {
  display: block !important;
}

.answer p {
  font-size: 16px;
  margin: 10px 20px;
}

form .container p {
  max-width: 380px;
  margin: -10px 20px;
}

form .container .question {
  margin: -10px 20px;
}

label[for="phone"] {
  left: 53%;
  position: absolute;
}

label[for="city"] {
  left: 43%;
  position: absolute;
}

form div input:first-child {
  margin-right: 10%;
}

#email,
#phone {
  width: 45%;
}

#post {
  width: 25%;
}

#city {
  width: 65%;
}

form .container {
  padding: 10px 0 0 60px;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
}

form .checkmark {
  background-color: var(--interactive-bg);
}

/* SCREEN FOUR */

.chosen_insurance {
  display: flex;
  justify-content: center;
}

.chosen_insurance img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.chosen_insurance div:first-child {
  margin: 0;
  flex-direction: column;
}

.chosen_insurance div {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
}

.chosen_insurance div > div {
  flex-direction: column;
}

.chosen_insurance div p {
  font-size: 40px;
  color: var(--light-blue);
}

#screen_four li {
  display: inline;
  color: var(--dark-blue);
  width: 300px;
}
#screen_four li img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

#screen_four ul {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

#screen_one ul:first-child {
  margin-top: 40px;
}

#screen_four .subheading {
  margin: 100px auto 60px;
}

#your_price {
  font-size: 100px;
  text-align: center;
  margin: 20px 0 60px;
}

/* SCREEN FIVE */

#pay_method div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin: 40px;
  padding: 20px;
}

#pay_method img {
  width: auto;
  height: 30px;
  margin: auto;
}

#pay_method p {
  width: 70%;
}

#screen_five .container {
  display: block;
  position: relative;
  cursor: pointer;
  margin: 15px 60px;
  padding: 0;
}

#screen_five .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#screen_five .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}

#screen_five .container input:checked ~ .checkmark {
  background-color: var(--light-blue);
}

#screen_five .container input:checked ~ .checkmark:after {
  display: block;
}

#screen_five .container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* LEARN MORE */

#learn_more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

#learn_more img {
  width: 70px;
  height: 70px;
  margin-top: 20px;
}

#did_you_know {
  background-color: var(--second-bg);
  padding: 20px;
  width: 60%;
  text-align: center;
}

#did_you_know h2 {
  margin: 10px;
}

#download {
  width: 30%;
  background-color: var(--dark-blue);
  padding: 20px;
  text-align: center;
}

#download li {
  list-style: none;
  margin-bottom: 10px;
  margin-left: -20px;
  font-size: 12px;
  text-align: left;
}

/* VIDEO */

#campaign_video {
  background-color: #e51147;
  width: 100%;
  height: 500px;
  margin: 40px 0;
}

/* MORE ARTICLES */

#title {
  text-align: center;
  display: flex;
}

.line {
  border-bottom: 2px solid var(--light-blue);
  width: 25%;
  margin: 10px auto 55px;
}

#articles {
  display: flex;
  justify-content: space-between;
}

#articles p,
#articles h3 {
  color: white;
  margin: 0 20px;
}

#one,
#two,
#three {
  width: 32%;
  height: 300px;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#one {
  background-image: url("assets/andels1\ \(1\).jpg");
}
#two {
  background-image: url("assets/closeup-sidespejl.jpg");
}
#three {
  background-image: url("assets/computer-pa-daybed.jpg");
}

/* FOOTER */
footer {
  background-color: var(--dark-blue);
  width: 100vw;
  margin: 40px 0 0;
  position: absolute;
  left: 0;
  color: white;
}

footer p,
footer img {
  cursor: pointer;
}

#footer_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px;
}

#footer_first p,
#footer_second p {
  text-transform: uppercase;
}

#footer_first div {
  display: flex;
  flex-direction: row;
}

#footer_first div p {
  margin: 2px 0 0 10px;
}

footer img {
  width: 25px;
  height: 25px;
}

#footer_second img {
  width: 100%;
  height: 300px;
}

#footer_info ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
}

#footer_info li:first-child {
  list-style: none;
}

#footer_info li {
  color: white;
  font-size: 12px;
  margin-right: 20px;
}

#footer_divider {
  border-bottom: white 2px solid;
  margin: 0 0 20px;
}

#some {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 100px;
}

#some a img {
  width: 40px;
  height: 40px;
}

.hidden {
  display: none !important;
}
